<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.sagebionetworks.research.mindkind">

    <application
        android:name="org.sagebionetworks.research.mindkind.MindKindApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">

        <provider
            android:name="androidx.work.impl.WorkManagerInitializer"
            android:authorities="${applicationId}.workmanager-init"
            android:directBootAware="false"
            android:exported="false"
            android:multiprocess="true"
            tools:node="remove"
            tools:targetApi="n" />

        <activity
            android:name=".EntryActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:scheme="https"
                    android:host="wustl.edu"
                    android:pathPrefix="/ArcValidation"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".authentication.ExternalIdSignInActivity"
            android:label="@string/title_activity_external_id_sign_in"
            android:screenOrientation="portrait"
            android:theme="@style/MindKindTheme"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".conversation.ConversationSurveyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MindKindTheme"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="LockedOrientationActivity" />

    </application>

</manifest>